@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transpo.Jo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/homecss.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <img src="~/images/logo-photoroom.png" alt="Transpo.Jo Logo" height="50">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Log in</a></li>
            <li class="nav-item"><a class="btn btn-light" href="#">Sign up →</a></li>
        </ul>
    </nav>
    <header class="hero-section ">
        <div class="container text-center text-white">
            <h1>Where Are We Going ?</h1>
            <p>Everything you need to know about transportation, here in Jordan</p>
            <a class="btn btn-light btn-lg" href="#">Let’s Ride</a>
        </div>
    </header>

    <footer class="footer">
        <p class="Rights">&copy; Transpo.Jo. All Rights Reserved 2025</p>
        <p>|</p>
        <p class="Terms"><a href=".......">Terms & Conditions</a></p>
    </footer>
</body>
</html>
