
@model TranspoJo.Models.Coordinate
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transpo.jo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/routecss.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        <div class="hero-section row align-items-center">
            <div class="col-md-6">
                <h1>Go anywhere with Transpo.jo</h1>
                <div class="form-group mt-4">
                    <form asp-action="SubmitForm" method="post">

						<input asp-for="Latitude" type="text" class="form-control mb-3" placeholder="Pick location">
						<input asp-for ="Longitude" type="text" class="form-control mb-3" placeholder="Destination">

                     <button class="next-btn" type="submit">Show me the Route</button>

					</form>  
               
                </div>
                
            </div>
            <div class="col-md-6">
                <img src="~/images/screenshot 2025-03-12 064939.png" alt="Travel Image" class="img-fluid">
            </div>
        </div>
    </div>

    <footer class="footer">
        <p class="Rights">&copy; Transpo.Jo. All Rights Reserved 2025</p>
        <p>|</p>
        <p class="Terms"><a href=".......">Terms & Conditions</a></p>
    </footer>
</body>
</html>