@model TranspoJo.Models.Coordinate
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transpo.jo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/routecss.css" rel="stylesheet" />
</head>
<body>
    
    <div class="container py-5 justify-content-center">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 text-center text-lg-start mb-4 mb-lg-0">
                <h1>Go anywhere with Transpo.jo</h1>
                <form asp-action="SubmitForm" method="post" class="d-flex flex-column align-items-center align-items-lg-start">
                    <input asp-for="Longitude" type="text" class="form-control mb-3" placeholder="Destination">
                    <button class="next-btn" type="submit">Show me the Route</button>
                </form>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <img src="~/images/screenshot 2025-03-12 064939.png" alt="Travel Image" class="img-fluid rounded">
            </div>
        </div>
    </div>
</body>
</html>
