body {
    background: linear-gradient(to right, #2c0b2c, #6f3107);
}
.card {
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(255, 102, 0, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    position: relative;
    overflow: hidden;
    height: 150px;
    background: white;
}

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 30px rgba(255, 102, 0, 1);
        filter: brightness(1.05);
    }

.card-body {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px;
    position: relative;
    z-index: 1;
    color: #333;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;
    color: #333;
}

.card-text {
    font-size: 1.1rem;
    color: #555;
}

.card-icon {
    font-size: 2.5rem;
    color: #ff6600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.card:hover .card-icon {
    color: #0056b3;
}

.card-title a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #ff6600;
}

    .card-title a:hover {
        color: #0056b3;
    }

.container {
    max-width: 1200px;
    margin-top: 20px;
}

.card-icon i {
    transition: transform 0.3s ease;
}

.card:hover .card-icon i {
    transform: scale(1.1);
}

.h1 {
    font-size: 2.0rem;
    font-weight: 700;
    color: #ff6600;
    text-align: center;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(255, 102, 0, 1);
    background-color: white;
    margin-bottom: 2rem;
}
h5 {
    color:white
}