body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2c0b2c, #6f3107);
}

.hero-section {
    margin-top: 147px;
    margin-bottom: 110px;
}

h1 {
    color: white;
    font-size: 2.5rem;
}

.result {
    justify-content:center;
    margin-top:auto
}

.form-control {
    width: 75%;
    padding: 12px 30px;
    border: 2px solid #ddd;
    border-radius: 25px;
    transition: all 0.3s ease;
}

    .form-control:focus {
        border-color: #ff6600;
        box-shadow: 0 0 8px rgba(255, 102, 0, 0.6);
        background: #fff;
    }

.next-btn {
    margin-left: 170px;
    margin-top: 50px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 130px;
}

    .next-btn:hover {
        transform: scale(1.05);
    }


