.hero-section {
    background-image: url('../images/home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 760px;
    display: flex;
    align-items: center;
    text-align: center;
}

    .hero-section h1 {
        font-size: 90;
        font-weight: bold;
    }

    .hero-section p {
        font-size: 1.25rem;
    }

.navbar {
    background-color: #1a0e1b;
    padding: 15px 0;
    padding-left: 50px;
    padding-right: 50px;
}

.footer {
    padding-top: 15px;
    height: 55px;
    background-color: #2a1b2f;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-size: 0.9rem;
    margin-top: 50PX;
}

    .footer a {
        color: #ff6600;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        .footer a:hover {
            color: #cc5200;
        }
