body {
    background: linear-gradient(to right, #2c0b2c, #6f3107);
    color: white;
    font-family: Arial, sans-serif;
}

.hero-section {
    background-image: url('../images/home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


    .hero-section h1 {
        font-size: 3.5rem;
        font-weight: bold;
    }


    .hero-section p {
        font-size: 1.25rem;
    }

/*
.hero-section {
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .hero-section h1 {
        font-size: 3rem;
        font-weight: bold;
    }

.container {
    text-align: left;
}
*/
.transport-card {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    margin-bottom: 60px;
}

    .transport-card:hover {
        transform: scale(1.05);
    }

    .transport-card img {
        height: 200px;
        object-fit: cover;
    }
